@model Forum.ViewModels.ChatViewModel

@foreach (var message in Model.Messages)
{
    if (message != null && message.User != null && message.Text != null)
    {
        <div class="px-3 ms-2 mt-2 text-start">
            <a class="text-decoration-none" asp-action="Profile" asp-controller="User" asp-route-id="@message.UserId">
                <img src="@message.User.PathToAvatarPhoto" alt="Avatar" width="40px" height="40px"/>
                <strong class="text-black">@message.User</strong>
            </a>
            <p class="m-0 p-0">@message.Text</p>
            <small class="text-muted">@message.CreatedAt</small><br/>
        </div>
    }
    
}

<div class="d-flex justify-content-center mt-5">
        <nav>
            <ul class="pagination text-success">
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <li class="page-item">
                        <button type="button" onclick="changePage('@(Model.PageViewModel.PageNumber - 1)')" class="page-link">Предыдущая</button>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link">Предыдущая</a>
                    </li>
                }

                @if (Model.PageViewModel.PageNumber > 3)
                {
                    <li class="page-item disabled">
                        <span class="page-link disabled">...</span>
                    </li>
                }

                @for (int i = Math.Max(1, Model.PageViewModel.PageNumber - 2); i < Model.PageViewModel.PageNumber; i++)
                {
                    <li class="page-item">
                        <button class="page-link" type="button" onclick="changePage('@i')"  >@i</button>
                    </li>
                }

                <li class="page-item active">
                    <button class="page-link" type="button" onclick="changePage('@Model.PageViewModel.PageNumber')" >@Model.PageViewModel.PageNumber</button>
                </li>

                @for (int i = Model.PageViewModel.PageNumber + 1; i <= Math.Min(Model.PageViewModel.TotalPages, Model.PageViewModel.PageNumber + 2); i++)
                {
                    <li class="page-item">
                        <button class="page-link" type="button" onclick="changePage('@i')">@i</button>
                    </li>
                }

                @if (Model.PageViewModel.PageNumber < Model.PageViewModel.TotalPages - 2)
                {
                    <li class="page-item disabled">
                        <span class="page-link disabled">...</span>
                    </li>
                }

                @if (Model.PageViewModel.HasNextPage)
                {
                    <li class="page-item">
                        <button class="page-link" type="button" onclick="changePage('@(Model.PageViewModel.PageNumber+1)')">Следующая</button>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link">Следующая</a>
                    </li>
                }
            </ul>
        </nav>
    </div>